footer.footer
  ul
    li copyright &copy; 2016 fender musical instruments corporation. all rights reserved.
    li 
      a(href="#/") privacy policy
    li 
      a(href="#/") terms &amp; conditions
    li 
      a(href="#/") supply chain transparency