header.header 
  a.header__logo(href="#/")
    span FDR
  nav.header__menu
    a.header__menuItem(href="#/").
      Products
    a.header__menuItem(href="#/").
      Music
    a.header__menuItem(href="#/").
      Play
    a.header__menuItem(href="#/").
      Connect