html
  body
    .container
      .row
        .large-12.large-text-center.columns
          .panel
            h1 'Allo, 'Allo!
            img(src='assets/images/yeoman.png', alt="I'm Yeoman")
            br
            p Always a pleasure scaffolding your apps.
