.container
  .row
    app-fdr-product(
      class=[
        'large-3',
        'columns'
      ]
      ng-repeat="product in main.products track by $index"
      app-fdr-product-brand="product.brand"
      app-fdr-product-name="product.name"
      app-fdr-product-img="product.images[1]"
    )