.product
  a.product__link(
    title="{{ name }}"
    href="#/product-detail/{{ id }}"
  )
    .product__imgContainer
      img.product__img(src="{{ img }}")
    .product__name.truncate
      #[strong Name:] {{ name }}
    .product__name.truncate
      #[strong Series:] {{ series }}
    .product__name.truncate
      #[strong Type:] {{ type }}

