$product-font-size: 12px;
$product-large-spacing: 24px;
$product-medium-spacing: 12px;
$product-small-spacing: 6px;

.product {
  margin-bottom: $product-large-spacing;
}

.product__link {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.product__imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 250px;
  margin-bottom: $product-small-spacing;
  border: 1px solid #ccc;
  @include breakpoint(large) {
    height: 150px;
  }
}

.product__img {
  width: 100%;
  &.is-broken-image {
    opacity: 0.5;
  }
}

.product__name {
  font-size: $product-font-size;
  color: #000;
}