.sideBar
  ul.sideBar__list
    li(
      class="sideBar__items"
      ng-repeat="item in main.productFiltersLabels"
    )
      label.sideBar__label
        input(
          type="checkbox",
          ng-model="main.productFilters[item.id]"
        )
        | {{ ::item.label }}
