.sideBar
  ul.sideBar__list
    li(
      class="sideBar__items"
      ng-repeat="item in main.productFilterNames"
    )
      input(
        type="checkbox",
        ng-model="main.filterProducts[item.id]"
      )
      label.sideBar__label {{ ::item.label }}
