div
  h5 Products

  ul
    li(ng-repeat="item in main.productFilterNames")
      input(
        type="checkbox",
        ng-model="main.filterProducts[item.id]"
      )
      label {{ ::item.label }}
