.productDetail {
  margin-bottom: 24px;
}

.productDetail__heading {
  margin: 0;
}

.productDetail__img {
  border: 1px solid #ccc;
  width: 100%;
  min-height: 200px;
  max-width: 350px;
  margin: 0 auto;
  display: block;
  @include breakpoint(medium) {
    width: auto;
    margin: 0;
    max-width: none;
  }

  &.is-broken-image {
    width: 350px;
    height: 350px;
  }
}

.productDetail__list {
  margin-bottom: 24px;
  @include breakpoint(large) {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 6px;
  }

  p {
    margin-bottom: 0;
    font-weight: bold;
  }
}